@using Microsoft.AspNetCore.Identity
@using BlogMVC.Models
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@if (SignInManager.IsSignedIn(User))
{    
    <div id="header-fix" class="header fixed-top">
        <div class="site-width">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="navbar-header logo-bar">
                    <a asp-controller="Home" asp-action="Index" class="horizontal-logo text-left mt-3">
                        <span class="h5 align-self-center ml-auto">Blah Blog</span>
                    </a>
                </div>
                <div class="navbar-header h4 mb-0 text-center h-100 collapse-menu-bar">
                    <a href="#" class="sidebarCollapse" id="collapse"><i class="icon-menu"></i></a>
                </div>

                <form class="float-left d-none d-lg-block search-form">
                    <div class="form-group mb-0 position-relative">
                        <input type="text" class="form-control border-0 rounded bg-search pl-5" placeholder="Search for a topic...">
                        <div class="btn-search position-absolute top-0">
                            <a href="#"><i class="h6 icon-magnifier"></i></a>
                        </div>
                        <a href="#" class="position-absolute close-button mobilesearch d-lg-none" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-close h5"></i>
                        </a>

                    </div>
                </form>
                <div class="navbar-right ml-auto h-100">
                    <ul class="ml-auto p-0 m-0 list-unstyled d-flex top-icon h-100">
                        <li class="d-inline-block align-self-center  d-block d-lg-none">
                            <a href="#" class="nav-link mobilesearch" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-magnifier h4"></i>
                            </a>
                        </li>

                        <li class="dropdown align-self-center">
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-reload h4"></i>
                                <span class="badge badge-default">
                                    <span class="ring">
                                    </span><span class="ring-point">
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right border  py-0">
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle">
                                            <div class="media-body">
                                                <p class="mb-0">john</p>
                                                <span class="text-success">New user registered.</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author2.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle">
                                            <div class="media-body">
                                                <p class="mb-0">Peter</p>
                                                <span class="text-success">Server #12 overloaded.</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author3.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle">
                                            <div class="media-body">
                                                <p class="mb-0">Bill</p>
                                                <span class="text-danger">Application error.</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li><a class="dropdown-item text-center py-2" href="#"> See All Tasks <i class="icon-arrow-right pl-2 small"></i></a></li>
                            </ul>

                        </li>
                        <li class="dropdown align-self-center d-inline-block">
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-bell h4"></i>
                                <span class="badge badge-default">
                                    <span class="ring">
                                    </span><span class="ring-point">
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right border   py-0">
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle w-50">
                                            <div class="media-body">
                                                <p class="mb-0 text-success">john send a message</p>
                                                12 min ago
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author2.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle">
                                            <div class="media-body">
                                                <p class="mb-0 text-danger">Peter send a message</p>
                                                15 min ago
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item px-2 py-2 border border-top-0 border-left-0 border-right-0" href="#">
                                        <div class="media">
                                            <img src="dist/images/author3.jpg" alt="" class="d-flex mr-3 img-fluid rounded-circle">
                                            <div class="media-body">
                                                <p class="mb-0 text-warning">Bill send a message</p>
                                                5 min ago
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li><a class="dropdown-item text-center py-2" href="#"> Read All Message <i class="icon-arrow-right pl-2 small"></i></a></li>
                            </ul>
                        </li>
                        <li class="dropdown user-profile align-self-center d-inline-block">
                            <a href="#" class="nav-link py-0" data-toggle="dropdown" aria-expanded="false">
                                <div class="media">
                                    <img src="~/Images/author.jpg" alt="" class="d-flex img-fluid rounded-circle" width="29">
                                </div>
                            </a>

                            <div class="dropdown-menu border dropdown-menu-right p-0">
                                <a href="" class="dropdown-item px-2 align-self-center d-flex">
                                    <span class="icon-pencil mr-2 h6 mb-0"></span> Edit Profile
                                </a>
                                <a href="" class="dropdown-item px-2 align-self-center d-flex">
                                    <span class="icon-user mr-2 h6 mb-0"></span> View Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="" class="dropdown-item px-2 align-self-center d-flex">
                                    <span class="icon-support mr-2 h6  mb-0"></span> Help Center
                                </a>
                                <a href="" class="dropdown-item px-2 align-self-center d-flex">
                                    <span class="icon-globe mr-2 h6 mb-0"></span> Forum
                                </a>
                                <a href="" class="dropdown-item px-2 align-self-center d-flex">
                                    <span class="icon-settings mr-2 h6 mb-0"></span> Account Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link text-dark">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- END: Header-->
    <!-- START: Main Menu-->
    <div class="sidebar">
        <div class="site-width">
            <!-- START: Menu-->
            <ul id="side-menu" class="sidebar-menu">
                <li class="dropdown">
                    <a href="#"><i class="icon-home mr-1"></i> Account</a>
                    <ul>
                        <li><a href="index.html"><i class="icon-rocket"></i> Profile</a></li>
                        <li><a href="index-account.html"><i class="icon-layers"></i> Friends</a></li>
                        <li><a href="index-analytic.html"><i class="icon-grid"></i> Messages</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><i class="icon-organization mr-1"></i> Blogs</a>
                    <ul>
                        @if (User.IsInRole("Admin"))
                        {
                        <li><a asp-controller="Blogs" asp-action="Create"><i class="icon-support"></i> Create New</a></li>
                        }
                        <li><a asp-controller="Blogs" asp-action="Index"><i class="icon-options"></i> Browse</a></li>
                        @if (!User.IsInRole("Admin"))
                        {
                        <li><a href="#"><i class="icon-grid"></i> Request Topic</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><i class="icon-layers mr-1"></i> Posts</a>
                    <ul>
                        <li><a asp-controller="Posts" asp-action="Create"><i class="icon-support"></i> Create New</a></li>
                        <li><a asp-controller="Posts" asp-action="Index"><i class="icon-calendar"></i> Your Posts</a></li>
                        <li><a href="app-chat.html"><i class="icon-speech"></i> Your Comments</a></li>
                    </ul>
                </li>
            </ul>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
                <li class="ml-auto mr-3">
                    <a class="breadcrumb-item text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                </li>
                <li class="breadcrumb-item"><a href="#">Blah Blog</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <!-- END: Menu-->
        </div>
    </div>    
}
else
{

    <!--START: Header-->
    <div id="header-fix" class="header fixed-top">
        <div class="site-width">
            <nav class="navbar navbar-expand-lg  p-0">
                <div class="navbar-header logo-bar">
                    <a asp-controller="Home" asp-action="Index" class="horizontal-logo text-left mt-3">
                        <span class="h5 align-self-center ml-auto">Blah Blog</span>
                    </a>
                </div>
                <div class="navbar-header h4 mb-0 text-center h-100 collapse-menu-bar">
                    <a href="#" class="navbar-toggler" data-toggle="collapse" id="collapse"><i class="icon-menu"></i></a>
                </div>

                <form class="float-left d-none d-lg-block search-form">
                    <div class="form-group mb-0 position-relative">
                        <input type="text" class="form-control border-0 rounded bg-search pl-5" placeholder="Search for a topic...">
                        <div class="btn-search position-absolute top-0">
                            <a href="#"><i class="h6 icon-magnifier"></i></a>
                        </div>
                        <a href="#" class="position-absolute close-button mobilesearch d-lg-none" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-close h5"></i>
                        </a>

                    </div>
                </form>
                <div class="navbar-right ml-auto h-100">
                    <ul class="ml-auto p-0 m-0 list-unstyled d-flex top-icon h-100">
                        <li class="d-inline-block align-self-center  d-block d-lg-none">
                            <a href="#" class="nav-link mobilesearch" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-magnifier h4"></i>
                            </a>
                        </li>
                        <li class="navbar-nav ml-auto">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="navbar-nav ml-auto">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- END: Header-->
}
