@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main style="background-color: lightblue; height: 100vh;">
    <div class="container" id="phonefix" style="padding-top: 120px;">
        <div class="row">
            <div class="col-12">
                <div class="card" style="border-color: black; box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                    <h3 class="card-title pl-3" style="padding-top:30px">Log In</h3>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <form method="post" class="card-body">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="Input.Email" class="control-label"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="Input.Password" class="control-label"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="Input.RememberMe" class="control-label">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        <input asp-for="Input.RememberMe" style="height: 12px;" />
                                    </label>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-xl-1 col-lg-1 col-md-2 col-sm-2">
                                        <input type="submit" value="Log In" class="btn btn-primary" />
                                    </div>
                                    <p class="col-xl-1 col-lg-4 col-md-4 col-sm-4 pt-3">
                                        <a asp-controller="Home" asp-action="Index">Back</a>
                                    </p>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new Blah-Blogger!</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
