@model BlogMVC.Models.Post

@{
    ViewData["Title"] = "Create";
}

<main style="background-color: lightblue; min-height: 100vh;">
    <div class="container" style="padding-top: 120px; padding-bottom: 60px">
        <div class="row">
            <div class="col-12">
                <div class="card" style="border-color: black; box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                    <h3 class="card-title pl-3" style="padding-top:30px">Create New Post</h3>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <form asp-action="Create" class="card-body" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="BlogId" class="control-label">Parent Blog</label>
                                    <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                                </div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="Title" class="control-label">Post Name</label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="Abstract" class="control-label">Write a Short Summary of your Post</label>
                                    <textarea asp-for="Abstract" maxlength="400" placeholder="Summary :" class="form-control"></textarea>
                                    <span asp-validation-for="Abstract" class="text-danger"></span>
                                </div>
                                <div class="form-group col-xl-5 col-lg-5 col-md-7 col-sm-7">
                                    <label asp-for="FileName" class="control-label">Banner Image</label>
                                    <div style="position: relative">
                                        <input asp-for="Image" type="file" id="image" class="form-control" style="opacity: 0; z-index:2; position: absolute" />
                                        <div class="input-group flex-nowrap">
                                            <div class="input-group-prepend text-left">
                                                <input class="input-group-text" value="Upload" style="width: 4.5rem; color: white; background-color: #1e3d73"></input>
                                            </div>
                                            <span class="form-control" id="showfile"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label asp-for="Content" class="control-label">Post Body</label>
                                    <input id="Content" asp-for="Content" class="form-control" />
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>
                                <div class="row col-md-12">
                                    <div class="form-group col-xl-1 col-lg-1 col-md-2 col-sm-2">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                    <div class="col-xl-1 col-lg-4 col-md-4 col-sm-4 pt-3">
                                        <a asp-controller="Home" asp-action="Index">Back</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://cdn.tiny.cloud/1/ll8zhakbba1xr0km3e379sdk1lgtrjbl3cltdf4o4gen6z6n/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    tinymce.init({
        selector: '#Content',
        min_height: 200,
        skin: "snow",
        icons: "thin",
        plugins: 'lists codesample autoresize link',
        menubar: false,
        toolbar: [
            'undo redo | styleselect fontsizeselect | bold italic underline strikethrough numlist bullist | link codesample | alignleft aligncenter alignright alignjustify | outdent indent'
        ],
        default_link_target: '_blank',
        codesample_global_prismjs: true
    });
</script>

<script>
    $('#image').bind('change', function () { var fileName = ''; fileName = $(this).val(); $('#showfile').html(fileName); })
</script>
